@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");
/* start variables */
:root {
  --main-color: #83ffe8;
  --secondary-color: #207299;
  --transparent-color: rgba(132, 255, 249, 0.589);
  --section-padding: 100px;
  --paragraph-color: #777;
}
/* end variables */
/* start global rules  */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
/* end global rules */
/* start components */
.main-heading {
  text-align: center;
}
.main-heading h2 {
  font-weight: normal;
  font-size: 40px;
  margin-bottom: 70px;
  text-transform: uppercase;
  position: relative;
}
.main-heading h2::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 100px;
  left: 50%;
  background-color: #000;
  transform: translateX(-50px);
  bottom: -30px;
}
.main-heading h2::after {
  content: "";
  height: 14px;
  width: 14px;
  border: 2px solid #000;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -38px;
  background-color: #fff;
}
.main-heading p {
  color: var(--paragraph-color);
  line-height: 1.5;
  width: 450px;
  max-width: 100%;
  margin: 0 auto 100px;
}
/* end components */
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Open Sans", sans-serif;
  /* background-color: rgb(46, 44, 44); */
}
.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}
/* small screens */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* meduim screens */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* large screens */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* start header */
header {
  position: absolute;
  width: 100%;
  left: 0;
  z-index: 6;
}
header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  min-height: 97px;
}
header .container::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: calc(100% - 30px);
  height: 1px;
  background-color: #edeced;
  left: 15px;
}
@media (max-width: 768px) {
  header .container::after {
    width: 100%;
    left: 0;
  }
}
header .container a img {
  width: 140px;
}
header nav {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
header nav ul {
  display: flex;
}
@media (max-width: 768px) {
  header nav ul {
    display: none;
  }
  .active-ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100px;
    width: 100%;
    left: 0;
    transition: 0.4;
    background-color: #000000c7;
  }
}
header nav ul a {
  display: block;
  color: #fff;
  padding: 38px 10px;
  font-size: 17px;
  transition: 0.5s;
}
@media (max-width: 768px) {
  header nav ul a {
    padding: 15px;
  }
}
header nav ul a:hover,
.active {
  color: var(--main-color);
  border-bottom: 1px solid var(--main-color);
  position: relative;
  z-index: 3;
}
header .icon-form {
  width: 40px;
  height: 30px;
  position: relative;
  margin-left: 30px;
  border-left: 1px solid #fff;
}
header .icon-form i {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  cursor: pointer;
}
header .icon-form i:hover {
  color: var(--main-color);
}
.toggle-menu {
  color: #fff;
  font-size: 22px;
  transform: scaleX(1.5);
  cursor: pointer;
}
.toggle-menu:hover {
  color: var(--main-color);
}
@media (min-width: 768px) {
  .toggle-menu {
    display: none;
  }
}
.search {
  display: none;
  background-color: rgba(0, 0, 0, 0.603);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 4;
}
.search-active {
  display: block;
}
.search .cross {
  cursor: pointer;
  color: #fff;
  font-size: 35px;
  position: absolute;
  top: 90%;
  left: 3%;
  transition: 0.5s;
}

.search .cross:hover {
  color: var(--main-color);
}
.search form {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
}
@media (max-width: 768px) {
  .search form {
    flex-direction: column;
  }
}
.search form input {
  all: unset;
  background-color: #edeced;
  padding: 10px 40px;
  margin-right: 15px;
  border-radius: 7px;
  box-shadow: 0 0 10px rgb(51, 49, 49);
}
.search form input:focus {
  box-shadow: 0 0 20px rgb(133, 130, 130);
}
.search form button {
  all: unset;
  background: linear-gradient(45deg, #1d976c, #93f9b9);
  padding: 9px 15px;
  border-radius: 9px;
  cursor: pointer;
  box-shadow: 0 0 10px rgb(51, 49, 49);

  transition: 0.4s;
}
.search form button:hover {
  background: linear-gradient(90deg, #1d976c, #93f9b9);
  color: white;
  box-shadow: 0 0 20px rgb(133, 130, 130);
}
@media (max-width: 768px) {
  .search form button {
    margin-top: 22px;
  }
}
/* end header */
/* start landing */
.landing {
  /* background:url(img/cat.jpg); */
  height: 100vh;
  position: relative;
  left: 0;
  background-position: center;
  background-size: cover;
}
.landing .text {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 50%;
  padding: 50px;
  background-color: var(--transparent-color);
  display: flex;
  justify-content: flex-end;
}
@media (max-width: 767px) {
  .landing .text {
    width: 100%;
  }
  .landing .text .content {
    max-width: 100%;
  }
}
.landing .text .content {
  max-width: 500px;
}
.landing .text .content h2 {
  font-size: 22px;
  font-weight: 700;
  color: rgb(255, 255, 255);
  line-height: 1.8;
  margin-bottom: 20px;
}
.landing .text .content p {
  color: rgb(0, 0, 0);
  font-size: 15px;
  line-height: 1.7;
}
.landing .change-background {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 30px;
  color: white;
  cursor: pointer;
}
.landing .change-background:hover {
  color: var(--main-color);
}
@media (max-width: 767px) {
  .landing .change-background {
    display: none;
  }
}
.landing .bi-chevron-left {
  left: 20px;
}
.landing .bi-chevron-right {
  right: 30px;
}
.landing .bullets {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 30px;
  display: flex;
}
.landing .bullets li {
  width: 20px;
  height: 20px;
  border: 1px solid #fff;
  margin-right: 10px;
  border-radius: 50%;
  cursor: pointer;
}
.landing .bullets .active {
  background-color: var(--main-color);
  border-color: var(--main-color);
}
/* end landing */
/* start services */
.services {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
@media (min-width: 768px) {
  .services .services-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    grid-gap: 64px;
  }
  .services-content .serv-box i {
    margin-right: 50px;
    font-size: 50px;
  }
}
.services .services-content .serv-box {
  display: flex;
}
@media (max-width: 767px) {
  .services .services-content .serv-box {
    display: flex;
    flex-direction: column;
  }
  .services-content .serv-box .text {
    text-align: center;
  }
  .services-content .serv-box i {
    font-size: 50px;
    margin: 0 0 30px;
    text-align: center;
  }
  .services-content .serv-box {
    margin-bottom: 40px;
  }
}

.services-content .serv-box .text h3 {
  margin-bottom: 30px;
  color: var(--secondary-color);
  font-size: 22px;
}
.services-content .serv-box .text p {
  color: var(--paragraph-color);
  line-height: 1.7;
}
/* end services */
/* start design */
.design {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  height: 600px;
  background-image: url(img/planet.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  align-items: center;
}
.design .image,
.design .text {
  position: relative;
  z-index: 2;
  flex: 1;
}
.design .image {
  text-align: center;
}
.design .image img {
  position: relative;
  width: 370px;
}
@media (max-width: 767px) {
  .design .image {
    display: none;
  }
}
.design .text {
  right: 0;
  padding: 50px;
  background-color: var(--transparent-color);
}
.design .text h2 {
  font-weight: normal;
  margin-bottom: 20px;
  color: #fff;
}
.design .text ul li {
  font-size: 18px;
  padding: 15px 0;
  color: #fff;
  position: relative;
}
/* end design */
/* start portfolio */
.portfolio {
  padding-top: var(--section-padding);
  padding-bottom: 50px;
}
.portfolio .shuffle {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
.portfolio .shuffle li {
  padding: 10px;
  cursor: pointer;
  transition: 0.3s;
}
@media (min-width: 767px) {
  .portfolio .shuffle li {
    margin-left: 5px;
  }
}
.portfolio .shuffle .active-shuffle,
.portfolio .shuffle li:hover {
  background-color: var(--secondary-color);
  color: white;
}
.portfolio-container {
  display: flex;
  flex-wrap: wrap;
}
.portfolio-container .box {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
@media (min-width: 767px) {
  .portfolio-container .box {
    flex-basis: 50%;
  }
}
@media (min-width: 1199px) {
  .portfolio-container .box {
    flex-basis: 25%;
  }
}
.portfolio-container .box img {
  max-width: 100%;
  transition: 0.4s;
}
.portfolio-container .box .caption {
  position: absolute;
  bottom: -100%;
  width: 100%;
  padding: 13px 15px;
  transition: 0.4s;
  background-color: #fff;
}
.portfolio-container .box:hover .caption {
  bottom: 0;
}
.portfolio-container .box:hover img {
  transform: rotate(4deg) scale(1.04);
}
.portfolio-container .box .caption h4 {
  margin-bottom: 10px;
  font-weight: normal;
}
.portfolio-container .box .caption p {
  color: var(--secondary-color);
}
.portfolio .more {
  display: block;
  width: fit-content;
  padding: 10px;
  background-color: var(--main-color);
  color: #000;
  margin: 30px auto;
  text-transform: uppercase;
  border-radius: 5px;
  transition: 0.3s;
}

/* end portfolio */
/* start video */
.video {
  position: relative;
}
.video video {
  width: 100%;
}
.video::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.438);
}
.video .text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  background-color: var(--transparent-color);
  padding: 50px;
  text-align: center;
}
.video .text h2 {
  font-weight: normal;
  margin-bottom: 30px;
  color: #fff;
}
.video .text p {
  margin-bottom: 30px;
  color: #fff;
}

.video .text button {
  background-color: #000;
  padding: 10px 15px;
  color: #fff;
  text-transform: uppercase;
  border: none;
  font-weight: normal;
  cursor: pointer;
  transition: 0.4s;
  border-radius: 7px;
}
.video .text button:hover {
  background-color: #fff;
  color: #000;
}
/* end video */
/* start about */
.about {
  padding-top: var(--section-padding);
  position: relative;
  text-align: center;
}
.about img {
  max-width: 100%;
  margin-top: -60px;
  width: 390px;
}
@media (max-width: 767px) {
  .about img {
    margin-top: -30px;
    width: 300px;
  }
}
/* end about */
/* start stats */
.stats {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background: url(img/computer.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
}
.stats::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.521);
}
.stats .container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}
.stats .box {
  color: #fff;
  background-color: var(--transparent-color);
  padding: 50px;
  text-align: center;
}
@media (max-width: 767px) {
  .stats .container .box {
    flex-basis: 100%;
  }
  .stats .container .box:not(body > div.stats > div > div:nth-child(4)) {
    border-bottom: 2px solid var(--main-color);
  }
}
@media (min-width: 768px) {
  .stats .container .box {
    flex-basis: 50%;
  }
}
@media (min-width: 992px) {
  .stats .container .box {
    flex-basis: 25%;
  }
}

.stats .box i {
  width: 40px;
  height: 40px;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin: 0 auto 30px;
  font-size: 20px;
}
.stats .box .number {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 25px;
}
.stats .box p {
  font-size: 17px;
}
/* end stats */
/* start our-skills */
.our-skills {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.our-skills .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.our-skills .container .testimonials {
  position: relative;
}

@media (max-width: 767px) {
  .our-skills .container > div {
    flex-basis: 100%;
  }
}
@media (min-width: 991px) {
  .our-skills .container > div {
    flex-basis: 45%;
  }
}
.our-skills .container > div > h3 {
  text-align: center;
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 40px;
}
.our-skills .container > div > p {
  text-align: center;
  color: var(--paragraph-color);
  margin-bottom: 50px;
  line-height: 2;
}
.our-skills .testimonials .content {
  display: flex;
  margin-bottom: 30px;
  align-items: center;
  position: relative;
  animation: sliding 1.2s 1 linear;
}
@keyframes sliding {
  0%{
left: -110%;
opacity: 0;
  }
  100%{
left: 0;
opacity: 1;
  }
}
@media (max-width: 767px) {
  .our-skills .testimonials .content {
    flex-direction: column;
    text-align: center;
  }
  .our-skills .testimonials .content img {
    margin: 0 auto 30px;
  }
}
.our-skills .testimonials .content .text {
  border-bottom: 1px solid #ccc;
  line-height: 1.8;
}
.our-skills .testimonials .content img {
  width: 100px;
  border-radius: 50%;
}
@media (min-width: 768px) {
  .our-skills .testimonials .content img {
    margin-right: 50px;
  }
}
.our-skills .testimonials .content p {
  color: var(--paragraph-color);
  text-align: right;
  margin: 10px 0;
  font-size: 16px;
}
.our-skills .testimonials .bullets {
  display: flex;
  justify-content: center;
  margin: 50px 0;
}
.our-skills .testimonials .bullets li {
  width: 15px;
  height: 15px;
  border: 1px solid rgb(0, 0, 0);
  margin-right: 10px;
  border-radius: 50%;
  cursor: pointer;
}
.our-skills .testimonials .bullets .active-bullet {
  background-color: var(--main-color);
  border-color: var(--main-color);
}
.our-skills .skills .progress-holder {
  margin-bottom: 50px;
}
.our-skills .skills .progress-holder .prog {
  background-color: #ebeced;
  height: 30px;
  margin: 10px 0 20px;
  position: relative;
}
.our-skills .skills .progress-holder .prog span {
  background-color: var(--secondary-color);
  position: absolute;
  height: 30px;
}
.our-skills .skills .progress-holder .prog span::before {
  content: attr(data-progress);
  position: absolute;
  background-color: #000;
  padding: 7px 0;
  width: 40px;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  top: -43px;
  right: -10px;
}
.our-skills .skills .progress-holder .prog span::after {
  content: "";
  border-style: solid;
  border-width: 8px;
  border-color: #000 transparent transparent;
  position: absolute;
  right: 3px;
  top: -12px;
}
.our-skills .skills .progress-holder h4 {
  text-transform: uppercase;
  font-weight: normal;
}
/* end our-skills */
/* start quote */
.quote {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background: url(/img/quote.jpg);
  background-size: cover;
  background-position: center;
  color: #fff;
  text-align: center;
  position: relative;
}
.quote .container {
  position: relative;
}
.quote::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 31%);
}
.quote q {
  font-size: 35px;
}
.quote span {
  display: block;
  margin-top: 20px;
}
/* end quote */
/* start pricing */
.pricing {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.pricing .plans {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;
}
.pricing .plans .plan {
  /* background-color: #fff; */
  text-align: center;
  background: linear-gradient(to bottom, #00000014, #fffffff2);
}
.pricing .plans .plan .head {
  padding: 40px 20px;
  border-bottom: 2px solid var(--main-color);
  border-top: 2px solid var(--main-color);
}
.pricing .plans .plan .head h3 {
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.pricing .plans .plan .head span {
  font-size: 50px;
  font-weight: bold;
}
.pricing .plans .plan .head span::before {
  content: "$";
  font-size: 20px;
  position: relative;
  top: -35px;
  margin-right: 10px;
  font-weight: normal;
}
.pricing .plans .plan .head span::after {
  content: "/Mo";
  position: relative;
  font-size: 20px;
  font-weight: normal;
  margin-left: 10px;
}
.pricing .plans .plan ul {
  border-bottom: 2px solid var(--main-color);
}
.pricing .plans .plan ul li {
  padding: 25px;
  position: relative;
}
.pricing .plans .plan ul li:not(:last-child)::after {
  content: "";
  position: absolute;
  width: 140px;
  background-color: var(--main-color);
  height: 2px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.pricing .plans .plan .foot a {
  display: block;
  text-decoration: none;
  padding: 20px 25px;
  border: 2px solid var(--main-color);
  width: fit-content;
  margin: 30px auto;
  color: #000;
  border-radius: 5px;
  transition: 0.4s;
}
.pricing .plans .plan .foot a:hover {
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
  color: #fff;
  font-size: 18px;
  transform: scale(1.04);
}
.pricing .contact-us {
  text-align: center;
  margin: 35px auto 10px;
}
.pricing .contact-us p {
  font-size: 20px;
  margin-bottom: 25px;
}
.pricing .contact-us a {
  display: block;
  color: #fff;
  padding: 10px 25px;
  background-color: var(--secondary-color);
  width: fit-content;
  margin: 15px auto;
  transition: 0.4s;
}
.pricing .contact-us a:hover {
  background-color: white;
  color: #000;
  border: 1px solid;
}
/* end pricing */
/* start subscribe */
.subscribe{
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background: url(img/earth.jpg);
  background-size: cover;
  background-position: center;
  color: #fff;
  position: relative;
}
.subscribe::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0000004d;
}
.subscribe .container{
  display: flex;
  align-items: center;
  position: relative;
}
@media (max-width:992px) {
  .subscribe .container{
    flex-direction: column;
  }
}
.subscribe form{
width: 500px;
max-width: 100%;
display: flex;
position: relative;
}

.subscribe form input[type="email"]{
  position: relative;
    padding: 20px 20px 20px 60px;
    background: none;
    border: 1px solid #fff;
    border-right: none;
    color: #fff;
    width: calc(100% - 130px);
}
.subscribe form input[type="email"]::placeholder{
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
}
.subscribe form input[type="email"]:focus,
.subscribe form input[type="submit"]:focus{
outline: none;
}
.subscribe form input[type="submit"]{
  padding: 20px;
  color: #000;
  border: 1px solid #fff;
  background-color: var(--main-color);
  width: 130px;
  border-left: none;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 14px;
  transition: 0.4s;
}
.subscribe form input[type="submit"]:hover{
  background-color: var(--secondary-color);
  color: #fff;
}
.subscribe form i{
  position: absolute;
  font-size: 25px;
  top: 50%;
  transform: translateY(-50%);
  left: 20px;
}
.subscribe p{
  margin-left: 60px;
}
@media (max-width:992px) {
  .subscribe p{
    margin: 50px 0 0;
    text-align: center;
  }
}
/* end subscribe */
/* start contact */
.contact{
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.contact .content{
  display: flex;
  justify-content: space-between;
}
@media (max-width:767px) {
  .contact .content{
    flex-direction: column;
  }
}
.contact .content form{
  flex-basis: 70%;
}

.contact .content form .main-input{
  display: block;
  margin-bottom: 30px;
  padding: 20px;
  width: 100%;
  max-width: 100%;
  border: 1px solid lightgrey;
}
.contact .content form .main-input:focus{
  outline: none;
}
.contact .content form input[type="submit"]{
  padding: 20px;
    background-color: var(--main-color);
    border: none;
    text-transform: uppercase;
    display: flex;
    margin-left: auto;
    cursor: pointer;
    transition: 0.4s;
}
.contact .content form input[type="submit"]:hover{
  color: #fff;
  background-color: var(--secondary-color);
}
.contact .content form textarea.main-input{
  height: 200px;
}
.contact .content .info{
  flex-basis: 25%;
}
@media (max-width:767px){
  .contact .content .info{
    order: -1;
    text-align: center;
  }
}
.contact .content .info h4{
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.contact .content .info .phone{
  display: block;
  color: var(--paragraph-color);
  margin-bottom: 10px;
}
.contact .content .info h4:nth-of-type(2){
  margin-top: 95px;
}
@media (max-width:767px){
  .contact .content .info h4:nth-of-type(2){
    margin-top: 50px;
  }
}
.contact .content .info address{
  line-height: 2;
  color: var(--paragraph-color);
}
@media (max-width:767px){
  .contact .content .info address{
    margin-bottom: 30px;
  }
}
/* end contact */
/* start footer */
footer{
  padding-top: calc(var(--section-padding) / 2);
  padding-bottom: calc(var(--section-padding) / 2);
  background-image: url(img/earth.jpg);
  background-position: center;
  background-size: cover;
  color: #fff;
  position: relative;
  text-align: center;
}
footer::before{
content: "";
position: absolute;
height: 100%;
width: 100%;
top: 0;
left: 0;
background-color: rgba(0, 0, 0, 0.651);
}
footer .container{
  position: relative;
}
footer img{
  width: 140px;
  margin-bottom: 30px;
}
footer p:not(.copyright){
  font-size: 20px;
  text-transform: uppercase;
  border-bottom: 1px solid;
  width: fit-content;
  margin: 0 auto 20px;
  padding: 30px;
}
footer i{
  padding: 10px 15px;
  transition: 0.4s;
}
footer i:hover{
  color: var(--main-color);
}
footer .copyright{
  margin-top: 60px;
}
footer .copyright span{
  color: var(--main-color);
  font-size: 19px;
}
/* end footer */